<div class="card mb-4 p-shadow-5">
  <i class="pi pi-tag product-category-icon">
    <span class="product-category">
      <strong>
      <a style="color:rgb(0, 153, 204)" [routerLink]="['/products']" [queryParams]="{ category: productItem?.category}">
        {{ productItem?.category | titlecase}}
     </a>
    </strong>
    </span>
  </i>
  <img (click)="goToProductDetailPage(productItem.id, productItem.category)" class="bd-placeholder-img card-img-top p-2"
    [src]="productItem?.imageURL" />
  <div class="card-body">
    <a (click)="goToProductDetailPage(productItem.id, productItem.category)">
      <p class="card-text centre text-center">
        <strong style="cursor: pointer;">{{ productItem?.name | titlecase }}</strong>
      </p>
    </a>
    <p class="card-text text-center">
      <strong>{{ productItem?.price | currency:'INR' }}</strong>
    </p>
    <p class="card-text text-center">{{ productItem?.description | slice: 0:80 }}...</p>
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group text-center">
        <div class="text-center">
          
          <button [disabled]='(accountService.currentUser$ | async)?.username==""' pripple="" type="button" class="p-ripple p-button p-component">
            <span class="p-button-icon p-button-icon-left ng-star-inserted pi pi-shopping-cart"
              aria-hidden="true"></span>
            <span (click)="handleAddToCart()" class="p-button-label ng-star-inserted" aria-hidden="false">{{'productlist.button' | translate}}</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>