// #search{
//     margin-left: 8px;
//     margin-right: 8px;
// }

#search-input{
    margin-left: 8px;
    margin-right: 8px;
}

// .nav-bar{
//     position: sticky;
//     top: 0%;
// }

// .mystyleclass{
//     background-color: white !important;
//     color:grey !important;
//     border-color: grey  !important;
// }

i{
    cursor: pointer;
}

#cartBadge{
    width: 2px;
    height: 21px;
    align-items: center;
    top: .2rem;
}

#cartIcon{
   top: .2rem; 
}



